.main {
  min-height: 100vh;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  width: 100%;
  max-width: 1440px;
  font-family: "Palatino Linotype", Palatino, Georgia, serif;
  background: #1a252f;
  opacity: 88%;
  color: #e0e0e0;
  margin: 0 auto;
  border: 1px solid rgb(8, 182, 251);
  border-radius: 10px;
  box-shadow: 
    0 0 5px #87CEEB,         
    0 0 10px #87CEEB,        
    0 0 15px #00B7EB,      
    inset 0 0 5px #87CEEB;
}

.dateInputs {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  
  @media (max-width: 576px) {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
